body {
    font-family: 'PT Sans';
}

a {
    height: 43px;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.logo {
    position: relative;
}

.top-menu {
    display: inline-block;
}

.brandname {
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    padding-left: 53px;
}

.brandname:before {
    height: 43px;
    width: 43px;
    content: '';
    left: 0;
    position: absolute;
    background-image: url(../images/fingerprint.png);
    background-size: 43px 43px;
}

header {
    padding-top: 71px;
    background-color: #fcdb00;
    height: 740px;
}

.header {
    line-height: 43px;
}

section.slider {
    background-color: #fcdb00;
}

.nav-item {
    font-size: 22px;
    font-weight: bold;
    margin: 0 30px;
}

h1.head-text {
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

h3.sub-head {
    font-size: 20px;
    font-weight: normal;
    margin-top: 22px;
}

p.description {
    margin-top: 22px;
    font-size: 16px;
    font-weight: normal;
    color: #555;
}

.store-buttons {
    margin-top: 40px;
}

.store-buttons > span {
    font-size: 42px;
}

.content {
    margin-top: 150px;
}

.ipad {
    position: relative;
    margin: 70px 0 0 30px;
    height: 470px;
    width: auto;
    background-repeat: no-repeat;
    background-image: url(../images/ipad-mini.png);
}

.brandname.yellow {
    color: #fcdb00;
    margin: 207px 0 0 83px;
    padding-left: 53px;
}

.brandname.yellow:before {
    height: 43px;
    width: 43px;
    content: '';
    position: absolute;
    left: 83px;
    background-image: url(../images/fingerprint-yellow.png);
    background-size: 43px 43px;
}

.features {
    height: 625px;
    padding-top: 120px;
}

.features .sub-head {
    margin-top: 15px;
    text-align: center;
}

.row {
    display: inline;
    float: left;
    margin-top: 90px;
    width: 960px;
}

.feature-head {
    font-size: 22px;
    font-weight: normal;
    display: inline-block;
}

.feature > span {
    text-align: center;
    font-size: 50px;
}

.feature .description {
    margin-top: 16px;
    color: #898989;
}

footer {
    height: 765px;
    background-color: black;
}

footer .head-text {
    color: #fcdb00;
    margin-top: 90px;
}

footer .sub-head {
    color: #898989;
    text-align: center;
    margin-top: 16px;
}

.email-input {
    width: 580px;
    height: 48px;
    border: none;
    margin: 0 10px;
    border-radius: 5px;
}

.email-input::placeholder {
    font-size: 16px;
    color: #898989;
    font-weight: normal;
    position: relative;
    left: 23px;
}

.submit-btn {
    height: 50px;
    width: 130px;
    border: none;
    background-color: #fcdb00;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.email-form {
    margin-top: 36px;
}

.social-connect {
    margin-top: 90px;
}

.social-connect span {
    margin: 0 15px;
    font-size: 42px;
    color: #fcdb00;
}